{% extends 'employees\employee_base.html' %}

{% block title %} Employee Home {% endblock %}
{% block header %} Hello Employee {{ user.username }}! {% endblock %}
{% block content %}
  {% if user.is_authenticated %}
  <!-- <button type="button" class="col-sm-6 btn btn-success mb-2">
    <a class="text-light text-uppercase text-decoration-none" 
  </button> -->
    
    Address: {{ logged_in_employee.address }} {{logged_in_employee.zip_code }}<br />
  {% else %}
    <p>You are at the employee index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
{% endblock %}