{% extends 'employees\employee_base.html' %}

{% block title %} Employee Home {% endblock %}
{% block header %} Hello Employee {{ user.username }}! {% endblock %}
{% block content %}
  {% if user.is_authenticated %}

    Address: {{ logged_in_employee.address }} {{logged_in_employee.zip_code }}<br />
             <h1> Customer Pickups Today</h1>
             {% for customer in non_sus_accounts %}
             <li> Customer Name: {{ customer.name }} <br /> 
                Zip Code: {{ customer.zip_code }} <br />
                Customer Address: {{ customer.address }} <br />
                Weekly Pickup: {{ customer.weekly_pickup}} <br />
                One Time Pickup: {{ customer.one_time_pickup}} <br />
            </li> 
             <a class="btn btn-success" href="{% url 'employees:confirm_pickup_charge_balance' customer.id %}">Confirm/Charge</a>
  {% endfor %}
    {% else %}
    <p>You are at the employee index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
{% endblock %}